mixin navLink(route, text)
  a(href=route)= text

mixin input(labelText, fieldName, fieldType, placeholder)
  .form-group
    label(for=fieldName)= labelText
    input(name=fieldName class=fieldName type=fieldType placeholder=placeholder)

mixin btn(btnTxt, className, idName)
  button(type="submit" class=className id=idName)= btnTxt

mixin splashTag(icon, title, storyId)
  a(href="/" class="splash-tag")
    .splashTag
      img(src=icon alt=title)
      span=title
