mixin navLink(route, text)
  a(href=route)= text

mixin input(labelText, fieldName, fieldType, placeholder)
  .form-group
    label(for=fieldName)= labelText
    input(name=fieldName id=fieldName type=fieldType placeholder=placeholder)

mixin btn(btnTxt, className, idName)
  button(type="submit" class=className id=idName)= btnTxt

mixin splashTag(icon, title, storyId)
  a(href="/" class="splash-tag")
    .splashTag
      img(src=icon alt=title)
      span=title


//- MIRA Mixins
//- mixin storyCardFull(story)
//-   h3 story.title
//-   p story.hook
//-   img(src=story.img)
//-   +authorDate
//-   .icons
//-     button 
//-     img(src="like-icon.png" alt="Like")
//-     #{story.likes}
//-     a(href=story.comments) #{story.commentsCount} comments
//-     button
//-     img(src="bookmark-icon.png" alt="Bookmark")

//- mixin storyCardMini(story)
//-   h4 story.title
//-   p story.author
//-   .icons
//-     img(src="icon-like.png")
//-     #{likeCount}
//-     img(src="icon-comments.png")
//-     #{commentCount}
//-     button() img="icon-bookmark.png"

//- mixin authorDate(author)
//-   a(href=userLink) #{story.user.firstName} #{story.user.lastName}
//-   img(href=authorIcon alt="#{user.firstName}
//-   #{user.lastName}")
//-   p= story.date
