mixin navLink(route, text)
  a(href=route)= text

mixin input(labelText, fieldName, fieldType, placeholder)
  .form-group
    label(for=fieldName)= labelText
    input(name=fieldName class=fieldName type=fieldType placeholder=placeholder)

mixin btn(btnTxt, className, idName)
  button(type="submit" class=className id=idName)= btnTxt

mixin splashTag(icon, title, storyId)
  a(href="/" class="splash-tag")
    .splashTag
      img(src=icon alt=title)
      span=title


//- MIRA Mixins
mixin storyCardFull(story)
  a(href=`/stories/${story.id}`)
    h3.cardTitle= story.title
    p.cardCreatedDate= story.createdAt
    //- p story.hook
  +authorBlurb(story.Author)
  img(src=`/assets/stories/${story.id}-1.jpg` href="Story splash banner.").cardBanner
  +storyIcons(story)

mixin storyIcons(story)
  .icons
    button(name="like").btnLike
      div.storyIcon.likeIcon
      span #{story.Likes.length} Likes
    a(href=`/stories/${story.id}#comments`)
      button(name="comments").btnComment
        span.storyIcon.commentIcon
        span #{story.Comments.length} Comments
    button(name="bookmark")
      div.storyIcon.bookmarkIcon
      
mixin storyCardMini(story)
  h4= story.title
  a(href=`/users/${story.authorId}`)= story.Author.fullName
  +storyIcons

mixin authorBlurb(author)
  .authorBlurb
    img(src=`/assets/av/${author.id}.png` alt=`${author.firstName} ${author.lastName}`).authorAv
    a(href=`/users/${author.id}`) #{author.firstName} #{author.lastName}
    button.btnIconic Follow
