mixin navLink(route, text)
  a(href=route)= text

mixin input(labelText, fieldName, fieldType, placeholder)
  .form-group
    label(for=fieldName)= labelText
    input(name=fieldName class=fieldName type=fieldType placeholder=placeholder)

mixin btn(btnTxt, className, idName)
  button(type="submit" class=className id=idName)= btnTxt

mixin splashTag(icon, title, storyId)
  a(href="/" class="splash-tag")
    .splashTag
      img(src=icon alt=title)
      span=title


//- MIRA Mixins
mixin storyCardFull(story)
  a(href="/stories/#{story.id}")
    h3= story.title
    p= story.createdAt
    //- p story.hook
    //- img(src=story.img)
    +authorBlurb(story.Author)
    +storyIcons(story)

mixin storyIcons(story)
  .icons
    button(name="like") #{story.Likes.length} Likes
      img(src="/assets/icon/icon-like-blue.png" alt="Like")
    a(href=`/stories/${story.id}#comments`)
      button(name="comments") #{story.Comments.length} Comments
        img(src="/assets/icon/icon-comment-blue.png")
    //- TODO Make button link to a(href="/stories/#{story.id}#comments")
    button(name="bookmark") Bookmark
      img(src="/assets/icon/icon-bookmark-blue.png" alt="Bookmark")

mixin storyCardMini(story)
  h4= story.title
  a(href=`/users/${story.authorId}`)= story.Author.fullName
  +storyIcons

mixin authorBlurb(author)
  a(href=`/users/${author.id`) #{author.firstName} #{author.lastName}
  img(href=`/assets/av/${author.id}.png` alt=`${author.firstName} ${author.lastName}`)
