//- .feedBody
script(defer type="module" src="js/feed.js")
link(rel='stylesheet' type='text/css' href='/styles/feed.css')
//- .feedBody NEED 'readtime' FOR TIME TO READ ARTICLE
block feedBlock
    .feedContainer
        .storyContainer
            each story in stories
                .storySection
                    .storyInfoDiv
                        .storyAuthorName: a(href=`http://localhost:3000/users/${story.authorId}`) #{story.Author.firstName} #{story.Author.lastName}
                        .storyLink: a(href=`http://localhost:3000/stories/${story.authorId}`) #{story.title}
                        .storyCreatedAt #{story.createdAt} • <30min read
                        .createBookmarkButtonFeed: a.bookmarkButtonFeed.clicked
                    .storyPicDiv
                        .storyImgDiv
    
