//- script(defer type="module" src="js/feed.js")
//- .feedBody
link(rel='stylesheet' type='text/css' href='/styles/feed.css')
//- .feedBody
block feedBlock
    .feedContainer
        .storyContainer
            ul.ulContainer
                each story in stories
                    .storySection
                        .storyInfoDiv
                            li.storyAuthorName #{story.Author.firstName} #{story.Author.lastName}
                            li.storyLink: a(href=`http://localhost:3000/stories/${story.authorId}`) #{story.title}
                            li.storyCreatedAt #{story.createdAt}
                        .storyPicDiv
                            img(src="/assets/icons/icon-user-blue.png", alt="*Cool Picture*")
                            