include includes/utils

//- .feedBody
//- script(defer type="module" src="js/feed.js")
link(rel='stylesheet' type='text/css' href='/styles/feed.css')
//- .feedBody NEED 'readtime' FOR TIME TO READ ARTICLE
block feedBlock
  .feedContainer
    .storyContainer
      each story in stories
        .storySection
          .storyInfoDiv
            +authorBlurb(story.Author)
            //- .storyAuthorName: a(href=`${ api }/users/${story.authorId}`) #{story.Author.firstName} #{story.Author.lastName}
            //-   img(src=`/assets/av/${story.authorId}.jpg` alt=`${story.Author.firstName} ${story.Author.lastName}`).authorAv
            h2.storyLink: a(href=`/stories/${story.id}`).cardTitle #{story.title}
            .storyCreatedAt #{story.createdAt}
            //- .createBookmarkButtonFeed: a(data-storyid=story.storyId).bookmarkButtonFeed
          .storyPicDiv
            .storyImgDiv
              img(src=`/assets/stories/${story.id}-1.jpg`)
          +storyIcons(story)
    .bookmarkFeedContainer
      .bookmarkSection
        .bookmarkTitle
        .bookmarkAuthor
      .bookmarkSection
        .bookmarkTitle
        .bookmarkAuthor
      .bookmarkSection
        .bookmarkTitle
        .bookmarkAuthor
      .bookmarkSection
        .bookmarkTitle
        .bookmarkAuthor
      .bookmarkSection
        .bookmarkTitle
        .bookmarkAuthor
        //- .bookmarkTitle #{bookmark.title}
        //- .bookmarkAuthor #{bookmark.authorId}


//-  each bookmark in bookmarks
