include includes/utils

//- .feedBody
//- script(defer type="module" src="js/feed.js")
link(rel='stylesheet' type='text/css' href='/styles/feed.css')
//- .feedBody NEED 'readtime' FOR TIME TO READ ARTICLE
block feedBlock

    //- .bookmarkTitle #{bookmark.title}
    //- .bookmarkAuthor #{bookmark.authorId}
    //- .curiosityContainer
    //-     .recommendedPostsContainer
    //-         .bigRecommendedStorySection
    //-         .smallRecommendedStorySection
    //-     .usersToFollowContainer
    //-         .authorsToFollowSection
    .trendingStory
        //- .trendingHeaderContainer 
        //-     .trendingSectionHeaderTitle   TRENDING ON MEDIUM
        //-         if stories
        //-             each story in stories
        //-                 if story.hasBookmarks
        //-                     .trendingPostBlock
        //-                         .trendingPostNumberSection #{story.id}
        //-                         .trendingPostAuthor #{story.Author.firstName}
        //-                         .trendingPostTitle #{story.title}
        //-                         .trendingPostDate #{story.createdAt}
        //-         else 
        //-             .test: p baaaaaad
    //- .trendingStory
    //-     .trendingHeaderContainer: .trendingSectionHeaderTitle   TRENDING ON MEDIUM
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 01
    //-         .trendingPostAuthor Clayton Reinhardt
    //-         .trendingPostTitle Da bears
    //-         .trendingPostDate 29/16/2020 • <30 min read
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 02
    //-         .trendingPostAuthor Jasmine Lotomau
    //-         .trendingPostTitle The Beach
    //-         .trendingPostDate 29/16/2020 • <30 min read   
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 02
    //-         .trendingPostAuthor Jasmine Lotomau
    //-         .trendingPostTitle The Beach
    //-         .trendingPostDate 29/16/2020 • <30 min read   
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 02
    //-         .trendingPostAuthor Jasmine Lotomau
    //-         .trendingPostTitle The Beach
    //-         .trendingPostDate 29/16/2020 • <30 min read  
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 02
    //-         .trendingPostAuthor Jasmine Lotomau
    //-         .trendingPostTitle The Beach
    //-         .trendingPostDate 29/16/2020 • <30 min read  
    //-     .trendingPostBlock
    //-         .trendingPostNumberSection 02
    //-         .trendingPostAuthor Jasmine Lotomau
    //-         .trendingPostTitle The Beach
    //-         .trendingPostDate 29/16/2020 • <30 min read
    //- MIRA I'm messing around and breaking stuff, ignore this for now.
    //- .feedContainer
    //-   .storyContainer
    //-     each story in stories
    //-       .storySection
    //-         .storyInfoDiv
    //-           +authorBlurb(story.Author)
    //-           //- .storyAuthorName: a(href=`${ api }/users/${story.authorId}`) #{story.Author.firstName} #{story.Author.lastName}
    //-           //-   img(src=`/assets/av/${story.authorId}.jpg` alt=`${story.Author.firstName} ${story.Author.lastName}`).authorAv
    //-           h2.storyLink: a(href=`/stories/${story.id}`).cardTitle #{story.title}
    //-           .storyCreatedAt #{story.createdAt}
    //-           //- .createBookmarkButtonFeed: a(data-storyid=story.storyId).bookmarkButtonFeed
    //-         .storyPicDiv
    //-           .storyImgDiv
    //-         +storyIcons(story)
    .feedContainer
        .storyContainer
            //- each story in stories
            //-     .storySection
            //-         .storyInfoDiv
            //-             .storyAuthorName: a(href=`${ api }/users/${story.Author.id}`) #{story.Author.firstName} #{story.Author.lastName}
            //-             .storyLink: a(href=`/stories/${story.id}`) #{story.title}
            //-             .storyCreatedAt #{story.createdAt} • <30min read
            //-             .createBookmarkButtonFeed: .TESTBUTTONDIV(data-storyid=story.storyId ).bookmarkButtonFeed.clicked
            //-         .storyPicDiv
            //-             .storyImgDiv
            //-                 img(src=`/assets/stories/${story.id}-1.jpg`)
        .bookmarkFeedContainer
            //- if hasBookmarks === true
            //-     .noBookmarksForAuthor
            //-         .bookmarkMessage        Bookmark stories for later
            //-         .bookmarkInstructions   Start saving stories by clicking the bookmark icon and you’ll find them all here.
            //- else
            //-     each bookmark in bookmarks
            //-         .bookmarkSection
            //-             .bookmarkTitle #{bookmark.storyId}
            //-             .bookmarkAuthor #{bookmark.authorId}
            //- .bookmarkTitle
            //- .bookmarkAuthor
            //- .bookmarkSection
            //-     .bookmarkTitle
            //-     .bookmarkAuthor
            //- .bookmarkSection
            //-     .bookmarkTitle
            //-     .bookmarkAuthor
            //- .bookmarkSection
            //-     .bookmarkTitle
            //-     .bookmarkAuthor
            //- .bookmarkSection
            //-     if !hasBookmarks
            //-         .bookmarkTitle WORKKKKSSSSSS
            //-         .bookmarkAuthor

            //- .bookmarkTitle #{bookmark.title}
            //- .bookmarkAuthor #{bookmark.authorId}
//-  each bookmark in bookmarks
