extends layout.pug
include includes/utils.pug

block content
  script(defer type="module" src="js/profile.js")

  h1 Profile
  
  article user
    heading

      h2 #{user.firstName} #{user.lastName}
      //- span.user-description #{user.description}
      span MeDaYum member since #{user.createdAt}
      //- TODO MIRA Change this to display 'Month Year'
      
      img(src="/assets/icons/icon-user-1000x.png" alt="#{user.firstName} #{user.lastName}")
      
      .follows
        #{userFollows.length} Following | #{userFollowers.length} Followers
        //- TODO Confirm .length works here
      button Edit Profile
      button Follow

    nav.user-collections
      ul
        li Stories
          ul
          each story in userStories
            li: +storyCardFull(story)


        li Comments
          ul
          each comment in userComments
            li
              +storyCardMini(comment.story)
              +authorDate
              p= comment.body

        li Likes
          ul
          each like in user.likes
            li: +storyCardFull(like.story)
        li Follows
          ul
          each f

        li Bookmarks
          ul
          each bookmark in user.bookmarks
            li
              +storyCardFull(bookmark.story)
