extends layout.pug

block content
  script(defer type="module" src="js/profile.js")

  h1 Profile
  button Edit Profile
  heading
    h2 #{user.firstName} #{user.lastName}
    img(src=user.img)
    //- Not sure yet how this will be implemented.

    .follows
      a(href=followersLink) #{followerCount} Followers
      a(href=followingLink) #{followingCount} Following

  
  div.user-collections
    section: h2 Stories
      ul
      each story in user.stories
        li: story.title

    section: h2 Follows

    section: h2 Bookmarks

    section: h2 Comments

    section: h2 Likes
