extends layout.pug

block content
    script(defer type="module" src="/js/story.js")
    article
      h1= storyInfo.title
      p #{ storyInfo.authorInfo.authorFN } #{ storyInfo.authorInfo.authorLN }
      img(src="author-portrait.jpg" alt=`Author ${ storyInfo.authorInfo.authorFN } ${ storyInfo.authorInfo.authorLN }`)
      a(href="/follow"): img(src="icon-follow.svg")
      a(href="/bookmark"): img(src="icon-bookmark.svg")

      .story-body= storyInfo.body

      a(href="/like")
        img(src="icon-like.svg")
        span= storyInfo.likeCount
      a(href="/comment")
        img(src="icon-comment.svg")
        span= storyInfo.commentCount

      form(method="post" action="/comments" id="commentForm" data-story=storyInfo.storyId)
        label(for="comment") Add a Comment:
        textarea(id="comment" name="comment")
        button(type="submit" id="submitComment") Submit Comment

      section
        h2 Comments
        ul(id="commentList")
          if storyInfo.commentsCount > 0
            each comment in storyInfo.comments
              li(class="full-comment" data-commentid=comment.id data-user=comment.userId)
                ul(class="comment-ul")
                  li(class="commenting-user") #{ comment.firstName } #{ comment.lastName }
                  li(class="comment-body")= comment.body
                  li(class="comment-time")= comment.created
                  li(class="my-comment-options" data-user=comment.userId)
                    button(class="editBtn") Edit
                    button(class="dltBtn") Delete
